/* 1. Общее */
/* Центрируемся, что бы при масштабировании, экран шел к центру сайта */
body {
    max-width: 1920px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }



