

/* Выставляем и стилизируем панель навигации */















/* 4. Работаем с блоком Команда */
.correct {
  text-align: center;
  margin-top: 27px;
}

/* Обертка блока сотрудника */
.employee {
  max-width: 380px;
  height: 470px;
  background-color: #95e1d3;
  position: absolute;
}

/* Накладываем на фото градиент */
.employee__grad {
  width: 100%;
  height: 470px;
  position: absolute;
  top: 0;
  opacity: 0;
}

/* Задаем условие animation */
@-webkit-keyframes move {
  from {
  }

  to {
    margin-top: -10px;
    margin-left: -10px;
  }
}
@keyframes move {
  from {
  }

  to {
    margin-top: -10px;
    margin-left: -10px;
  }
}

/* Устанавливаем анимацию */
.employee:hover .employee__img1 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.employee:hover .employee__img2 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.employee:hover .employee__img3 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.employee:hover .employee__grad {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fce38a),
    to(#f38181)
  );
  background: -o-linear-gradient(bottom, #fce38a, #f38181);
  background: linear-gradient(to top, #fce38a, #f38181);
  opacity: 0.9;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.employee__name {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 31px;
  position: relative;
  top: 500px;
}

.employee__position {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  margin-top: 12px;
  font-style: italic;
  position: relative;
  top: 500px;
}

/* Структурируем расположение иконок  */
.socials {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
/*   align-items: flex-start; */

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
position:absolute;

Left: 50%;
Right: 50%;
top: 50%;
bottom: 50%;
Transform: translate (-50%, -50%);

  /*   top: 205px;
  left: 80px; */
  opacity: 1;
}

/* Устанавливаем анимацию */
.employee:hover .socials {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
} 

/* Стилизируем SVG */
.socials__item {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  margin-right: 2px;
  position: relative;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employee:hover .socials__item {
  opacity: 1;
}
.socials__item:hover {
  background-color: #f38181;
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: #f38181;
}

.socials__item:hover .socials__icon {
  fill: white;
} 

/* 5. Работаем с блоком Футтер */
.footer__line {
  max-width: 1200px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  top: 584px;
}

.footer__wrapper {
  height: 60px;
  position: relative;
  top: 584px;
}

.footer-text {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 60px;
}

.fotter__text--color {
  color: #f38181;
}

/* Убираем отступы между формами (кнопками) */
.footer__form {
  font-size: 0;
}

.footer__mail {
  width: 228px;
  height: 38px;
  font-size: 15px;
  color: black;
  border: 1px solid #cccccc;
  outline: none;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

input[type="email"]::-webkit-input-placeholder {
  font-size: 15px;
  color: #cccccc;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

input[type="email"]::-moz-placeholder {
  font-size: 15px;
  color: #cccccc;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

input[type="email"]:-ms-input-placeholder {
  font-size: 15px;
  color: #cccccc;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

input[type="email"]::-ms-input-placeholder {
  font-size: 15px;
  color: #cccccc;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

input[type="email"]::placeholder {
  font-size: 15px;
  color: #cccccc;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

input[type="email"]:valid:not(:placeholder-shown) {
  -webkit-box-shadow: 0 0 0 1px green;
  box-shadow: 0 0 0 1px green;
}

input[type="email"]:invalid:not(:placeholder-shown) {
  -webkit-box-shadow: 0 0 0 1px red;
  box-shadow: 0 0 0 1px red;
}

.footer__btn {
  width: 150px;
  height: 38px;
  color: white;
  background-color: #95e1d3;
  font-size: 14px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer__btn:hover {
  background-color: #fce38a;
}
