  /* Задаем размер и параметры container*/
  
  .container-fluid {
    width: 100%;
    height: 100%;
    
    }
    
    /* Задаем размеры container */
    .container {
    max-width: 1200px;
    }
    
    /* Убираем отсутпы вокруг container */
    .no-gutter {
      padding-left: 0px;
      padding-right: 0px;
    }
    
    /* Добавляем отсутпы вокруг container, где надо */
    .padding-15 {
      padding-left: 15px;
      padding-right: 15px;
    }
    