.flex {
    display: flex;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }