* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: playfair;
  src: url(../fonts/playfair/PlayfairDisplay-Bold.otf);
}

@font-face {
  font-family: ubuntu;
  src: url(../fonts/ubuntu/3972.ttf);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  font-family: playfair;
}

.menu {
  margin: 64px auto 93px auto;
  line-height: 24px;
  width: 574px;
  padding: 0px;
  text-align: center;
}

.menu li {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
}
.menu li:not(:last-child) {
  margin-right: 90px;
}

.link {
  text-decoration: none;
  color: #626262;
}

.link:hover,
.link:focus {
  color: #03a9f4;
}

.top {
  vertical-align: top;
}

.article {
  border: none;
  margin: 0 auto;
  width: 900px;
  padding: 0px;
}
.article li {
  display: inline-block;
  width: 421px;
  list-style: none;
  margin-right: 54px;
}

.article li:nth-child(2n) {
  margin-right: 0px;
}

.container {
  margin-bottom: -122px;
}


.section_menu {
  font-size: 14px;
  text-transform: uppercase;

  color: #626262;
  font-family: ubuntu;
  margin: 0 0 26px 0;
}

.section_name {
  font-size: 30px;
  color: #626262;
  margin: 0 0 28px 0;
}

.section_article {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  margin: 0 0 122px 0;
}
.img {
  width: 421px;
  height: 280px;
  margin: 0 0 29px 0;
}

.center {
  text-align: center;
}

.button {
  width: 160px;
  height: 60px;
  font-size: 20px;
  color: #626262;
  border-width: 2px;
  line-height: 60px;
  background-color: white;
  border-style: solid;
  border-color: #626262;
  margin: 60px auto 70px auto;
  font-family: playfair;
}

.button:hover {
  color: white;
  border-style: solid;
  border-color: white;
  background-color: #626262;
  font-family: playfair;
}
