/* Общие настройки */

html {
  box-sizing: border-box;
  font-size: 0;
  font-weight: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  min-width: 320px;
  max-width: 480px;
}

/* Задаем цвет фона обертки*/
.site-wrapper {
  background-color: white;
  position: relative;
}

/* Задаем фоновое изображение */
.bg-img {
  width: 100%;
  height: 541px;
  background-color: black;
  display: inline-block;
}

/* Выносим вперед и центрируем блок хэддер */
.headder-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* Стилизируем навигацию */
.ul-item {
  list-style: none outside;
  padding: 0;
  margin: 0;
  padding-top: 45px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.li-nav {
  min-width: 86px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 15px;
}

.li-nav:hover {
  border: 2px solid white;
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  color: white;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.img-logo {
  display: none;
}

.img-logo-mob {
  margin-top: 100px;
  width: 180px;
  height: 20px; 
}

/* Центрируем контент в хэддере */
.logo-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  min-width: 0;
  max-width: 320px;
  height: auto;
}


/* Центрируем и задаем размер контенту в хэддере */
.aside-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
}

.title {
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.subtitle {
  width: 100%;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.btn-find {
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  font-size: 14px;
  line-height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn-find:hover {
  background-color: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 17px; 
}


/* Основной блок */
.section-title {
  font-size: 21.98px;
  color: #333333;
  margin-top: 74px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.section-title::first-letter {
  text-transform: capitalize;
}

.section-wrapper {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.item-wrapper {
  width: 220px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.box-partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-box {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.item-img {
  width: 122px;
  height: 122px;
}

.item-status-1 {
  width: 32px;
  height: 32px;
  background-color: #ff4e50;
  background-image: url("../img/status/tv.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-status-2 {
  width: 32px;
  height: 32px;
  background-color: #1cd7ad;
  background-image: url("../img/status/cup.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-status-3 {
  width: 32px;
  height: 32px;
  background-color: #ffa507;
  background-image: url("../img/status/bag.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-status-4 {
  width: 32px;
  height: 32px;
  background-color: #4e73db;
  background-image: url("../img/status/plane.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-name {
  font-size: 13.97px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.item-about {
  font-size: 13.97px;
  color: #666666;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}


/* Футтер */
.fotter-wrapper {
  text-align: center;
  background-color: white;
  padding-top: 28px;
  padding-bottom: 57px;
}

.btn-other {
  font-size: 14px;
  color: #ff4e50;
  width: 188px;
  height: 36px;
  border: none;
  background-color: #ff4e50;
  border-radius: 17px;
  font-size: 14px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn-other::first-letter {
  text-transform: capitalize;
}

.btn-other:hover {
  background-color: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50; 
}

/* Стилизация под расширение 768px */
@media screen and (min-width: 480px) {
  body {
    margin-left: -30px;
    min-width: 480px; /* 480 */
    max-width: 942px; /* 462px */
  }


  .bg-img {
    width: 100%;
    height: 700px;
  }

  .nav-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    min-width: 470px; /* 470 */
  }

  .logo-wrapper {
    width: 490px; /* 490 */
  }

  .img-logo {
    width: 180px;
    height: 20px;
    display: block;
    position: relative;
    top: 3px;
  }

  .ul-item {
    justify-content: flex-end;
  }

  .img-logo-mob {
    display: none;
  }

  .logo-center {
    min-width: 0;
    max-width: 540px;
  }

  .aside-wrapper {
    width: 100%;
  }

  .title {
    font-size: 51.97px;
    margin-top: 223px;
  }

  .subtitle {
    font-size: 23.99px;
  }

  .btn-find {
    width: 225px;
    background-color: #ff4e50;
    font-size: 13.99px;
    border-radius: 20px;
    margin-top: 36px;
  }

  .section-wrapper {
    min-width: 442px; /* 462 */
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-partners {
    min-width: 442px; /* 462 */
    max-width: 492px; 
    margin: 0 auto;
  }

  .fotter-wrapper {
    padding-top: 38px;
    padding-bottom: 40px;
  }
}

/* Стилизация под расширение 1440px */
@media screen and (min-width: 961px) {
  body {

    min-width: 943px; /* 943 */
    max-width: 1440px; /* 961 */
  }


  .nav-wrapper {
    max-width: 940px;
    min-width: 840px;
  }
  .logo-wrapper {
    width: 760px;
  }

  .img-logo-mob {
    display: none;
  }
  .img-logo {
    width: 180px;
    height: 20px;
    display: block;
  }
  .bg-img {
    width: 100%;
    height: 700px;
  }

  .title {
    font-size: 51.97px;
    margin-top: 223px;
  }

  .subtitle {
    font-size: 23.99px;
  }
  .btn-find {
    width: 225px;
    background-color: #ff4e50;
    font-size: 13.99px;
    border-radius: 20px;
    margin-top: 36px;
  }
  .section-wrapper {
    min-width: 940px;
    max-width: 940px; 
    margin-left: auto;
    margin-right: auto;
  }
  .box-partners {
 
    min-width: 940px;
    max-width: 940px; 
    margin-left: auto;
    margin-right: auto;
  }
  .fotter-wrapper {
    padding-top: 38px;
    padding-bottom: 72px;
  }
}
