.employee {
  max-width: 380px;
  height: 470px;
  background-color: $secondary-bg-color;
  position: absolute;

  /* Накладываем на фото градиент */
  &__grad {
    width: 100%;
    height: 470px;
    position: absolute;
    top: 0;
    opacity: 0;
  }

  &__name {
    @include text (14px, $font-primary, $primary-dark-color);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 31px;
    position: relative;
    top: 500px;
  }

  &__position {
    @include text (15px, $font-secondary, $secondary-dark-color);
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    margin-top: 12px;
    font-style: italic;
    position: relative;
    top: 500px;
  }
  
  /* Устанавливаем анимацию */
  &:hover .employee__img1 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &:hover .employee__img2 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &:hover .employee__img3 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &:hover .employee__grad {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from($primary-hover-color),
      to($secondary-grad-color)
    );
    background: -o-linear-gradient(bottom, $primary-hover-color, $secondary-grad-color);
    background: linear-gradient(to top, $primary-hover-color, $secondary-grad-color);
    opacity: 0.9;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  /* Устанавливаем анимацию */
&:hover .socials {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

&:hover .socials__item {
  opacity: 1;
}

}

/* Задаем условие animation */
@-webkit-keyframes move {
  from {
  }

  to {
    margin-top: -10px;
    margin-left: -10px;
  }
}
@keyframes move {
  from {
  }

  to {
    margin-top: -10px;
    margin-left: -10px;
  }
}
