.footer {
      &__form {
        font-size: 0;
      }
      &__mail {
        width: 228px;
        height: 38px;
        @include text (15px, $font-secondary, $primary-dark-color);
        border: 1px solid $primary-btn-color;
        outline: none;
        padding-left: 13px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: 400;
      }
      &__btn {
        width: 150px;
        height: 38px;
        @include text (14px, $font-primary, $primary-white-color);
        background-color: $secondary-bg-color;
        border: none;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:hover {
            background-color: $primary-hover-color;
          }
      }
}


  
  input[type="email"]::-webkit-input-placeholder {
   
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
  }
  
  input[type="email"]::-moz-placeholder {
    @include text (15px, $font-secondary, $primary-btn-color);
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
  }
  
  input[type="email"]:-ms-input-placeholder {
    @include text (15px, $font-secondary, $primary-btn-color);
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
  }
  
  input[type="email"]::-ms-input-placeholder {
    @include text (15px, $font-secondary, $primary-btn-color);
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
  }
  
  input[type="email"]::placeholder {
    @include text (15px, $font-secondary, $primary-btn-color);
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
  }
  
  input[type="email"]:valid:not(:placeholder-shown) {
    -webkit-box-shadow: 0 0 0 1px $green;
    box-shadow: 0 0 0 1px $green;
  }
  
  input[type="email"]:invalid:not(:placeholder-shown) {
    -webkit-box-shadow: 0 0 0 1px $red;
    box-shadow: 0 0 0 1px $red;
  }
  