.footer {
    &__line {
        max-width: 1200px;
        border-top: 1px solid $primary-line-color;
        position: relative;
        top: 584px;
      }
      &__wrapper {
        height: 60px;
        position: relative;
        top: 584px;
      }
      &__text {
        @include text (14px, $font-primary, $primary-dark-color);
        font-weight: 400;
        line-height: 60px;
        &--color {
          color: $secondary-grad-color;
        }
        }    
}


  