.service__item {
    min-width: 80px;
    height: 170px;

    &--icon {
      width: 32px;
      height: 32px;
      fill: #95e1d3;
      text-align: right;
      margin-left: auto;
      margin-right: auto;
      display: block;
      &:hover {
        fill: #fce38a;
      }
    }
  }
  
  .service__title {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    word-wrap: break-word;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  
  .service__text {
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    word-wrap: break-word;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 90px;
  }