.site-navigation__item {
  display: block;
  height: 33.733px;
  line-height: 28px;
}

.site-navigation__link {
  @include text (14px, $font-primary, $primary-white-color);
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;

  &:hover {
    @include text ($primary-hover-color);
    text-decoration: none;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: $primary-hover-color;
      margin-top: 10px;
    }
  }
}

/* Стилизируем SVG */
.site-navigation__icon {
  width: 18px;
  height: 18px;
  fill: $primary-white-color;
  position: absolute;
  top: 25%;
  &:hover {
    fill: $primary-hover-color;
  }
}


