$primary-white-color: #ffffff;
$primary-hover-color: #fce38a;
$primary-dark-color: #333333;
$secondary-dark-color: #999999;
$secondary-bg-color: #95e1d3;
$secondary-grad-color: #f38181;
$primary-btn-color: #cccccc;
$primary-line-color: #e5e5e5;
$green: green;
$red: red;
